DATABASE_URL=sqlite:///./cleancall.db
RAZORPAY_KEY_ID=rzp_test_SZ0ItmcNuXOZrZ
RAZORPAY_KEY_SECRET=ZYyIZ2iMaSBLLlmrCt516rn3
JWT_SECRET_KEY=cleancall_secret_key
ADMIN_EMAIL=admin@ngoconnect.com
ADMIN_PASSWORD=admin123
